*,*::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    max-width: 100%;
    padding: 0 20px;
    background-color: rgb(50, 76, 50);
    box-shadow: 0cqmax;
    animation: pulseZoom 4s ease-in-out infinite;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    
}

@keyframes pulseZoom{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.04);
    }

    100%{
        transform: scale(1);
    }
}
.link-list li a:hover{
background-color: blue;
overflow: hidden;
padding: 20px;

}

.container{
    display: flex;

}
.link-list{
    display: flex;
    padding: 15px;
    list-style: none;
    justify-content: space-between;
    gap: 20px;
    float: right;
    width: 100%;
    align-items: center;

    .link-list li a:hover{
        color: blue;
    }

}
link-list li{
    align-items: center;8;;
}

a{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-size: 18px;
    
}

.buildingdescription{
    text-align: center;
    font-size: 16px;
    color: rgb(50, 76, 50);
    margin-top: 10px;
}

.introduction, .conclusion{
background-color: rgb(244, 249, 249);
margin-top: 20px;
margin-left: 15px;
margin-right: 15px;
border-radius: 20px;
border-width: 10px;
padding: 10px;
}
h1 {
    text-align: center;
    padding: 20px;
    line-height: 50px;
}
body{
    margin-top: 40px;
    font-size: 18px;
    line-height: 27px;
}

footer{
    text-align: center;
    padding: 20px;
    background-color: rgb(1, 12, 1);
    color: white;
    margin-top: 50px;
    width: 100%;
    font-size: medium;
}

img{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: yellowgreen;
    overflow: auto;
}
